server {
    listen 3000;
    server_name _;

    location / {
        proxy_pass http://{{ upstream_ip }}:80;
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
    }
}
